body {
    text-align: center;
}

#content {
    align-self: center;
    width: 100%;
    margin: 130px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: groove;
    padding: 15px;
    border: none
}

form h1 {
    font-size: 45px;
    margin-bottom: 15px;
}
form p {
    font-size: 23px;
    margin-bottom: 15px;
}

input[type="email"]{
    background-color: rgba(131, 105, 105, 0.253);
    border: none;  
}

label[for="age-verification"] {
    display: inline-block;
    vertical-align: middle;
}

input[type="submit"] {
    width: 38%;
    display: block;
    margin: auto;
    width: auto;
    font-family: 'Courier New', Courier, monospace;
    border: none
}

@media (min-width: 752px) {
  form {
    width: fit-content;
    min-width: 90%;
  }
  input[type="submit"] {
    width: 100%;
  }
}

@media (max-width: 752px) {
    form {
      width: fit-content;
      min-width: 90%;
    }
    input[type="submit"] {
      width: 100%;
    }
  }